<div class="container">
    <div class="header">
        <a href="https://www.facebook.com/livonsaari.evs/"><img class="logo" src="images/livo.jpg" alt="EVS"/>
        </a>
        <div class="title"><b> European Voluntary Service @ Livonsaaren yhteisökylä</b>
            <br>
            Jun 2017 - Oct 2017
        </div>
    </div>
    <div class="details">
        <a href="https://www.radioram.pl/articles/view/33232/Livonsaari-piec-miesiecy-na-finskiej-wyspie">Interview in
            polish Radio RAM about my 5 months in finish island</a>
    </div>
    <br>
    <div class="header">
        <img class="logo" src="../images/pwr.png" alt="Wroclaw University of Technology"/>
        <div class="title"><b> Computer Science (Diploma) @ Wroclaw University of Science and Technology</b>
            <br>
            Oct 2006 - Jul 2011
        </div>
        <div class="details">
            
        </div>
    </div>

    <br>
</div>
