<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="header">
        <a href="https://www.side.co/"><img class="logo" src="../images/side.jpeg" alt="Side.co"/></a>
        <div class="title"><b> Data Engineer </b>
            <br>
            Sept 2018 - Jul 2019
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Development of central multi-client in-house data warehouse system</li>
            <li></li>
        </ul>
    </div>
</div>

<br>

<div class="container">

    <div class="header">
        <a href="https://www.compucorp.co.uk/"><img class="logo" src="../images/compucorp.png" alt="Compucorp Ltd"/></a>
        <div class="title"><b> Data Engineer </b>
            <br>
            Apr 2018 - Sept 2019
        </div>
    </div>

    <div class="details">
        <ul class="tasks">
            <li>Development of central multi-client in-house data warehouse system</li>
            <li>dsd</li>
        </ul>
    </div>
</div>

<br>

<div class="container">
    <div class="header">
        <a href="https://www.foodora.de/"><img class="logo" src="../images/foodora.png" alt="Foodora"/></a>
        <div class="title"><b> Datawarehouse Developer </b>
            <br>
            Nov 2015 - Jun 2017
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Development of central multi-client in-house data warehouse system</li>
            <li>dsd</li>
        </ul>
    </div>
</div>

<br>

<div class="container">
    <div class="header">
        <a href="https://www.rocket-internet.com/"><img class="logo" src="../images/rocket.png" alt="Rocker Internet"/></a>
        <div class="title"><b> Data Team Intern </b>
            <br>
            May 2015 - Oct 2015
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Development of central multi-client in-house data warehouse system</li>
            <li>dsd</li>
        </ul>
    </div>
</div>

<br>

<div class="container">
    <div class="header">
        <a href="https://www.credit-suisse.com"><img class="logo" src="../images/cs.png" alt="Credit Suisse"/></a>
        <div class="title"><b> Data System Analyst </b>
            <br>
            Nov 2014 - Apr 2015
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Development of central multi-client in-house data warehouse system</li>

            <li>dsd</li>
        </ul>
    </div>
</div>

<br>
</body>
</html>