<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="header">
        <a href="https://www.side.co/"><img class="logo" src="../images/side.jpeg" alt="Side.co"/></a>
        <div class="title"><b> Data Engineer (Contractor)</b>
            <br>
            Sep 2018 - Jul 2019
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Building ETL pipelines for internal and external data sources and developing in-house
                DWH system
            </li>
            <li>Development of Salesforce plugin for Airflow to automate Sales' day-to-day data operations</li>
            <li>Improvements to dispatching process by automating sider to task assignment</li>
        </ul>
    </div>
</div>

<br>

<div class="container">

    <div class="header">
        <a href="https://www.compucorp.co.uk/"><img class="logo" src="../images/compucorp.png" alt="Compucorp Ltd"/></a>
        <div class="title"><b> Data Integration Engineer (Contractor) </b>
            <br>
            Apr 2018 - Sep 2018
        </div>
    </div>

    <div class="details">
        <ul class="tasks">
            <li>Building & maintenance of data transformation pipelines for injecting client data into CiviCRM</li>
        </ul>
    </div>
</div>

<br>

<div class="container">
    <div class="header">
        <a href="https://www.foodora.de/"><img class="logo" src="../images/foodora.png" alt="Foodora"/></a>
        <div class="title"><b> Datawarehouse Engineer </b>
            <br>
            Nov 2015 - Jun 2017
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Development and maintanance of in-house DWH system</li>
            <li>Integration of 3rd party APIs</li>
            <li>Development of daily billing process to report all transactions into external Order Management System
            </li>
            <li>Machine Learning projects: Sales Lead Generator and Vendor Backend Issue Discovery</li>
            <li>Monitoring of daily Data-Workflows</li>
        </ul>
    </div>
</div>

<br>

<div class="container">
    <div class="header">
        <a href="https://www.rocket-internet.com/"><img class="logo" src="../images/rocket.png" alt="Rocker Internet"/></a>
        <div class="title"><b> Business Intelligence Trainee </b>
            <br>
            May 2015 - Oct 2015
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Building a multi-client datawarehouse system for the roll-out of an international e-Commerce company
                portfolio
            </li>
            <li>Developing, optimizing and monitoring of ETL processes, integration of data sources for various
                portfolio companies as Foodora, Delivery Hero
            </li>
        </ul>
    </div>
</div>

<br>

<div class="container">
    <div class="header">
        <a href="https://www.credit-suisse.com"><img class="logo" src="../images/cs.png" alt="Credit Suisse"/></a>
        <div class="title"><b>Data / Systems Analyst</b>
            <br>
            Feb 2014 - Apr 2015
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Gathering and analyzing business requirements, solution design and preparation of technical
                documentation
            </li>
            <li>Production support - data analysis and investigation by querying underlying databases</li>
            <li>Preparation of database metrics reports</li>
            <li>Documentation of application flows and process design in form of UML diagrams</li>
        </ul>
    </div>
</div>

<br>

<div class="container">
    <div class="header">
        <a href="https://www.credit-suisse.com"><img class="logo" src="../images/cs.png" alt="Credit Suisse"/></a>
        <div class="title"><b>Developer @ EADC</b>
            <br>
            Jul 2011 - Jun 2014
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Development of Key Risk Indicators Reporting tool</li>
            <li>Development and maintenance of Access/VBA tools and Excel automations</li>
        </ul>
    </div>
</div>

<br>
</body>
</html>